.footer-container{
    margin-top:1cm;
    width: 100%;
    overflow: hidden;
    padding: 1cm 0px;
    background:rgba(255, 0, 0, 0.425);
    border:2px solid green;
}

.footer-container>ul{
    display:flex;
    justify-content: center;
    justify-items: center;
    border:2px solid red
}


/* ICONOS */
.iconos-footer{
    width:25%;
    float:left;
    display:flex;
    justify-content: center;
    align-items: center;
}
.iconos-footer>a{
    text-decoration: none;
}

.iconos-footer>a>i{
    color:white;
    margin:0px 5px;
    border-radius: 35px;
    border:2px solid white;
    font-size:calc(1vw + 7px);
    padding: 10px;
    transition: all 1s;
}

.iconos-footer>a>i:hover{
    transform: scale(1.8);
}

#facebook{
    width:80%;
    margin-right: 10px;
    text-align: center;
}


/* DERECHOS */

.derechos-footer{
    width:50%;
    float:center;
    font-size: calc(1vw + 3px);
    padding:0 5px;
    text-align:center;
}

/* LOGO FOOTER */
.logo-footer{
    width:25%;
    float:right;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

