
/*   IMAGEN PORTADA   ////////////////////////////////////////////////////////////*/

.logo-portada{
font-family: 'Gorditas', cursive;
    font-size: calc(1vw + 25px);
}
.logo-icon-portada{
    padding-right: 10px;
    color:chocolate;
    font-size: calc(1vw + 25px);
}

/*   TARJETA ROJA SECTION   ////////////////////////////////////////////////////////////*/

.tarjeta-roja-container{
    width: 70%;
    margin:auto;
}

.tarjeta-roja-container>p{
    font-size: calc(1vw + 9px);
    color:black;
    text-align: center;
    margin:1cm 0px;
}

.tarjeta-roja-container>ul{
    width:80%;
    margin:auto;
    display:flex;
    justify-content: center;
    justify-items: center;
    margin-top: 1cm;
}

.tarjeta-roja-container>ul>p{
    font-size: calc(1vw + 4px);
}


.tarjeta-roja-container>ul>img{
    width:6cm;
    height:4cm;
    border-radius:150%;
    margin-right:1cm;
}

/*   TARJETA AZUL SECTION   ////////////////////////////////////////////////////////////*/



.tarjeta-azul-container{
    width: 70%;
    margin:auto;
    border: 2px solid white;
    display:none;
}


/* TEXTOS */
.textos-body{
    width:60%;
    float:left;
}

.textos-body>h1{
    font-size:calc(1vw + 19px);
    margin-top:1cm;
}
.textos-body>p{
    font-size:calc(1vw + 9px);
    margin-top:1cm;
}

/* IMAGEN */

.img-right{
    width:30%;
    float:right;
}
.img-right>img{
    width:4cm;
    height:4cm;
    margin-top: 2cm;
    border-radius: 100%;
}

/* BOX-TEXT */

.box-text{
    width:100%;
    border: 2px solid black;
    box-shadow: 2px 2px 12px black;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.068);
    position: relative;
    padding:15px;
    margin-top:20cm;
}

.box-text>p{
    font-size: calc(1vw + 6px);
    text-align: center;
}




/*   TARJETA DORADA SECTION   ////////////////////////////////////////////////////////////*/



.tarjeta-dorada-container{
    width: 70%;
    margin:auto;
    margin-top: 1cm;
    display:none;
}
.tarjeta-dorada-container>li{
    width:12cm;
    margin:auto;
    height:4cm;
    background-image: linear-gradient(20deg, white 30%,transparent, rgb(1, 1, 129) 90%),url(../../imagenes/relleno/4.webp);
    background-size: 100% 100%;
    border-radius: 15px;
}
.tarjeta-dorada-container>li>h1{
    color:rgb(255, 255, 255);
    text-shadow: 12px 12px 12px white;
    font-size: calc(1vw + 15px);
    height:100%;
    width:100%;
    border-radius: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    background:rgba(0, 0, 0, 0.459);
}

.tarjeta-dorada-container>p{
    font-size: calc(1vw + 9px);
    padding-top:20px;
}

/* BOX */
/* algunos estilos de la imagen se encuentran en su etiqueta*/

.box-info-dorada>li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-info-dorada>li>i{
    color:aquamarine;
    font-size:100px;
    border:9px solid aquamarine;
    border-radius: 100%;
    padding:30px;
    margin-bottom:1cm;
    background:rgb(250, 224, 79);
    box-shadow: 10px 10px 32px black;
}
.box-info-dorada>img{
    width:10cm;
    height:7cm;
    padding:0px 20px;
}

.box-info-dorada>p{
    font-size: calc(1vw + 5px);

}



/*   DIFERENCIAS   ////////////////////////////////////////////////////////////*/

/* TEXTO */
.diferencias{
    width: 70%;
    margin:auto;
    text-align: center;
    display:none;
}
.diferencias>h1{
    font-size: calc(1vw + 15px);
    color:black;
}
.diferencias>p{
    font-size: calc(1vw + 6px);
    color:black;
}


/* BOX TARJETA */
.diferencias>li{
    background:linear-gradient(20deg, white 3%, transparent 85%, gold 10%),url(../../imagenes/relleno/6.webp);
    background-size:100% 100%;
    border-radius: 15px;
    box-shadow: 2px 2px 12px black;
    width:12cm;
    margin:auto;
    height:5cm;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1cm;
}

.diferencias>li>h1{
    font-size:calc(1vw + 12px);
    text-align: center;
    text-shadow: 3px 2px 3px black;
    color:gold;
}




/* tablas*/

.tablas{
    width:15cm;
    margin:auto;
    margin-top:1cm;
    border-radius:10px;
    border-collapse:separate;
    border-radius: 15px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.tablas>thead{
    text-align: center;
}

.tablas>tbody>tr{
    text-align: center;
}
.tablas>tbody>tr>td{
    font-size:calc(1vw + 4px);
}    
.tablas>thead>tr>th{
    font-size:calc(1vw + 4px);
}    



/* tabla roja */


.tabla-roja{
    border:2px solid rgb(185, 2, 2);
    background:red;
}

#cabeza-tabla-roja{
    background:rgb(187, 1, 1);
    color:white;
    font-size:calc(1vw + 5px);
}
.tabla-roja>thead{
    background:rgb(231, 2, 2);
}

.tabla-roja>tbody>tr{
    background:rgb(247, 108, 108);
}

/* tabla azul */


.tabla-azul{
    border:2px solid rgb(1, 1, 75);
    background:blue;
}
#cabeza-tabla-azul{
    background:rgb(1, 1, 119);
    color:white;
    font-size: calc(1vw + 5px);
}
.tabla-azul>thead{
    background:rgb(2, 2, 206);
}
.tabla-azul>tbody>tr{
    background:rgb(138, 138, 250);
}

/* tabla dorada */


.tabla-dorada{
    border:2px solid rgb(109, 93, 1);
    background: gold;
}
#cabeza-tabla-dorada{
    background:rgb(202, 172, 3);
    color:white;
    font-size:calc(1vw + 5px);
}
.tabla-dorada>thead{
    background:gold;
}
.tabla-dorada>tbody>tr{
    background:rgb(253, 237, 144);
}

